.chat{data: {message: {id: message.id}}}
  .chat__user 
    = message.user.name
  .chat__comment
    - if message.text.present?
      %p.chat__text
        = message.text
    = image_tag message.image.url, class: 'chat__image' if message.image.present?
  .chat__day
    .chat__day__time
      = message.created_at.strftime("%H:%M")