.user-addPage
  .user-addPage__header
    %h1 友達を追加する
    = link_to "トップページに戻る", :back, class: 'button'
  %ul.user-addPage__lists
    - @users.each do |user|
      %li.user-list
        = user.name
        .add-btn{"data-user-name": user.name}
          .user-add 追加する