.main {
  background-color: #eeeeee;
  width: calc(100vw - 300px);
  height: calc(100vh - 100px);
  .chat-header {
    &__group {
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 50px;
      border-bottom: double #dddddd 3px;
      &__name {
        font-size: 25px;
        display: flex;
        align-items: baseline;
        .group__member {
          display: flex;
          font-size: 18px;
          margin-left: 15px;
          color: gray;
          ul {
            display: flex;
            li {
              margin: 0 5px;
            }
          }
        }
      }
      &__edit {
        .edit {
          display: flex;
          align-items: center;
          justify-content: center;
          padding-right: 40px;
          color: #444444;
          text-decoration: none;
          .edit-btn {
            font-size: 20px;
            padding-right: 5px;
          }
        }
      }
    }
  }
  .chat-log {
    height: calc(100vh - 240px);
    width: 100%;
    padding-top: 20px;
    overflow: scroll;
    .chat {
      margin-bottom: 20px;
      display: flex;
      &__user {
        padding: 5px 15px;
        font-size: 17px;
      }
      &__comment {
        padding: 5px 20px;
        background-color: #AEFFBD;
        display: inline-block;
        border-radius: 10px;
        min-height:30px;
        height:auto !important;
        min-width: 1em;
        width: auto !important;
        &__text {
          font-size: 20px;
        }
      }
      &__day {
        display: flex;
        flex-direction: column-reverse;
        &__time {
          font-size: 12px;
          margin-left: 5px;
        }
      }
    }
  }

  .chat-form {
    height: 100px;
    background-color: #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    .form {
      display: flex;
      width: 100%;
      .image-file {
        display: flex;
        align-items: center;
        padding-right: 20px;
        color: #444444;
        text-decoration: none;
        .image {
          font-size: 30px;
          cursor: pointer;
        }
        .file {
          display: none;
        }
      }
      &__message {
        margin-right: 30px;
        width: 100%;
        .text {
          width: 100%;
          height: 50px;
        }
      }
      .send {
        height: 50px;
        padding: 10px 15px;
        background-color: white;
        border: solid black 1px;
        cursor: pointer;
      }
    }
  }
}