.side {
  height: calc(100vh - 80px);
  width: 300px;
  background-color: white;
  padding: 20px 10px;
  &__group-lists {
    height: 30px;
    color: white;
    background-color: #000088;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__groups {
    padding-left: 25px;
    min-height: 40%;
    .side__group {
      margin-top: 10px;
      .group {
        text-decoration: none;
        color: black;
        &__name {
        font-size: 18px;
        display: flex;
        &__member {
          margin-left: 8px;
        }
        }
        &__message {
          font-size: 13px;
        }
      }
    }
  }



  &__user-lists {
    height: 30px;
    color: white;
    background-color: #000088;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__users {
    padding-left: 25px;
    min-height: 40%;
  }
  .member-add {
    display: flex;
    justify-content: center;
    align-items: center;
    // position: relative;
    .addition {
      font-size: 18px;
      color: white;
      padding-left: 15px;
    }
    // span {
    //   position: absolute;
    //   display: block;
    //   width: 14em;
    //   left: 100%;
    //   transform: translateX(-50%);
    //   bottom: 100%;
    // }
  }
}